.root {
    -fx-base: rgb(50.0, 50.0, 50.0);
    -fx-background: rgb(50.0, 50.0, 50.0);
    -fx-control-inner-background:  rgb(50.0, 50.0, 50.0);
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.web-view {
    -fx-background-color: #000000;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.choice-box {
    -fx-border-color: #039ed3;
}

.slider {
    -fx-font-size: 10px;
}


.bordered-titled-title {

  -fx-background-color: rgb(50.0, 50.0, 50.0);
  -fx-translate-y: -8;
  -fx-translate-x: 10;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 5 5 5 5;
  -fx-background-color: rgb(50.0, 50.0, 50.0);
  -fx-border-color: #161a25;
  -fx-border-width: 0.5;
}

.bordered-titled-content {
  -fx-padding: 15 10 15 10;
}

.combo-box {
    /*-fx-text-fill: #a19b94;*/
    -fx-font-weight: bold;
    -fx-border-color: #039ed3;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: #1A1A1A;
    -fx-background-color: #1A1A1A;
    -fx-font-weight: bold;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: #1A1A1A;
    -fx-background-color: #1A1A1A;
    -fx-font-weight: bold;
}


/*#a19b94; -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/

.label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.text-field {
    -fx-text-fill: #000000;
    -fx-border-color: #039ed3;
    -fx-border-width: 1px;
    -fx-max-height: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 3, 2;
    -fx-highlight-fill: derive(-fx-control-inner-background,-60%);
}

.myDialog{
    -fx-background-color: #1d1d1d;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #1d1d1d;
}
.myDialog > *.label.content{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-fill-text: white;
}
.myDialog:header *.header-panel{
    -fx-background-color: #1d1d1d;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 12px;
}

.tab-pane {
    -fx-tab-min-height: 10px;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected {
    -fx-background-color: #000000;
    -fx-text-fill: yellow;
}

.tab .tab-label {
    -fx-text-fill: #64605c;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30.0%));
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #2b2a2a;
    -fx-background-color: #2b2a2a;
    -fx-padding: 10.0;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-table-cell-border-color:derive(-fx-base,+40%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #b4aea7;
    -fx-tab-min-height: 5px;
    -fx-tab-max-height: 5px;
    -fx-font-weight: bold;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

/*color de una fila seleccionada por el usuario*/
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: #1A1A1A;
    -fx-table-cell-border-color:derive(-fx-base,+30%);
    -fx-fill: white;
}

.table-row:odd {
    -fx-background-color: #2b2a2a;
    -fx-text-fill: #ffffff;
}

.table-row:hover{
   -fx-background-color: #444444;
   -fx-text-fill: #ffffff;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.button {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 5 10 5 10;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: white;
}

.sellButton {
    -fx-background-color:
        #000000,
        linear-gradient(#B70000, #7E0707),
        linear-gradient(#B70000, #7E0707),
        linear-gradient(#B70000, #7E0707);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 5 10 5 10;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: white;
}

.sellButton:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#DF0101, #8A0808),
            linear-gradient(#DF0101, #8A0808),
            linear-gradient(#DF0101, #8A0808);

    -fx-text-fill: #F7FF00;
}

.buyButton {
     -fx-background-color:
            #000000,
            linear-gradient(#0B610B, #0B3B17),
            linear-gradient(#0B610B, #0B3B17),
            linear-gradient(#0B610B, #0B3B17);
        -fx-background-insets: 0 0 -1 0, 0, 1, 2;
        -fx-padding: 5 10 5 10;
        -fx-alignment: CENTER;
        -fx-content-display: LEFT;
        -fx-text-fill: white;
}


.buyButton:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#298A08, #0B3B0B),
            linear-gradient(#298A08, #0B3B0B),
            linear-gradient(#298A08, #0B3B0B);

    -fx-text-fill: #F7FF00;
}

/***************************BID ********************************/

.bid {
    -fx-background-color: rgba(0, 117, 2, 0.3);
    -fx-text-fill: #FFFF00;
    -fx-fill: #FFFF00;
    -fx-table-cell-border-color:derive(-fx-base,+40%);
}

.table-view:row-selection .bid:filled:selected {
    -fx-background-color: rgba(0, 41, 1, 0.5);
    -fx-text-fill: #FFFF00;
    -fx-fill: #FFFF00;
}

.table-row-cell:focused:filled:selected .bid .text{
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: #FFFF00;
   -fx-text-fill: #FFFF00;
}

.table-row-cell:filled .bid .text{
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: #FFFF00;
  -fx-text-fill: #FFFF00;
}

.table-cell .bid {
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: #FFFF00;
   -fx-text-fill: #FFFF00;
}

.table-cell:focused:filled:selected .bid {
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: #FFFF00;
  -fx-text-fill: #FFFF00;
}

.offer {
    -fx-background-color: rgba(255,0,0,0.3);
    -fx-text-fill: #FFFF00;
    -fx-fill: #FFFF00;
    -fx-table-cell-border-color:derive(-fx-base,+40%);
}

.table-view:row-selection .offer:filled:selected {
    -fx-background-color: rgba(107, 0, 7, 0.5);
    -fx-text-fill: #FFFF00;
    -fx-fill: #FFFF00;
}

.table-row-cell:focused:filled:selected .offer .text{
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: #FFFF00;
   -fx-text-fill: #FFFF00;
}

.table-row-cell:filled .offer .text{
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: #FFFF00;
  -fx-text-fill: #FFFF00;
}

.table-cell .offer {
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: #FFFF00;
   -fx-text-fill: #FFFF00;
}

.table-cell:focused:filled:selected .offer {
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: #FFFF00;
  -fx-text-fill: #FFFF00;
}

.table-row-cell:focused:filled:selected .trade .text{
    -fx-fill: yellow ;
    -fx-text-fill: yellow;
}

.table-row-cell:filled .trade .text{
    -fx-fill: yellow;
    -fx-text-fill: yellow;
}

.table-cell .trade {
    -fx-fill: yellow ;
    -fx-text-fill: yellow;
    -fx-alignment: CENTER-RIGHT;
}

.table-cell:focused:filled:selected .trade {
    -fx-fill: yellow ;
    -fx-text-fill: yellow;
}

.trade {
    -fx-background: #2b2a2a;
    -fx-text-background-color: yellow ;
    -fx-text-fill: yellow;
    -fx-fill: yellow;
}

.table-row-cell:focused:filled:selected .nottrade .text{
    -fx-fill: white ;
    -fx-text-fill: white;
}

.table-row-cell:filled .nottrade .text{
    -fx-fill: white;
    -fx-text-fill: white;
}

.table-cell .nottrade {
    -fx-fill: white ;
    -fx-text-fill: white;
    -fx-alignment: CENTER-RIGHT;
}

.table-cell:focused:filled:selected .nottrade {
    -fx-fill: white ;
    -fx-text-fill: white;
}

.nottrade {
    -fx-background: #2b2a2a;
    -fx-text-background-color: white ;
    -fx-text-fill: white;
    -fx-fill: white;
}

.buyPendingOrder {
    -fx-background-color: rgba(0, 117, 2, 0.3);
    -fx-text-fill: #FF8000;
    -fx-fill: #FF8000;
    -fx-table-cell-border-color:derive(-fx-base,+50%);
}

.table-view:row-selection .buyPendingOrder:filled:selected {
    -fx-background-color: rgba(0, 41, 1, 0.5);
    -fx-fill: #FF8000;
    -fx-text-fill: #FF8000;
}

.table-row-cell:focused:filled:selected .buyPendingOrder .text{
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: #FF8000;
   -fx-text-fill: #FF8000;
}

.table-row-cell:filled .buyPendingOrder .text{
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: #FF8000;
  -fx-text-fill: #FF8000;
}

.table-cell .buyPendingOrder {
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: #FF8000;
   -fx-text-fill: #FF8000;
}

.table-cell:focused:filled:selected .buyPendingOrder {
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: #FF8000;
  -fx-text-fill: #FF8000;
}

.buyOrder {
    -fx-background-color: rgba(0, 117, 2, 0.3);
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-table-cell-border-color:derive(-fx-base,+50%);
}

.table-view:row-selection .buyOrder:filled:selected {
    -fx-background-color: rgba(0, 41, 1, 0.5);
    -fx-fill: white;
    -fx-text-fill: white;
}

.table-row-cell:focused:filled:selected .buyOrder .text{
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: white;
   -fx-text-fill: white;
}

.table-row-cell:filled .buyOrder .text{
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: white;
  -fx-text-fill: white;
}

.table-cell .buyOrder {
   -fx-background-color: rgba(0, 117, 2, 0.3);
   -fx-fill: white;
   -fx-text-fill: white;
}

.table-cell:focused:filled:selected .buyOrder {
  -fx-background-color: rgba(0, 117, 2, 0.3);
  -fx-fill: white;
  -fx-text-fill: white;
}


.table-view:row-selection .sellPendingOrder:filled:selected {
    -fx-background-color: rgba(107, 0, 7, 0.5);
    -fx-fill: #FF8000;
    -fx-text-fill: #FF8000;
}

.table-row-cell:focused:filled:selected .sellPendingOrder .text{
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: #FF8000;
   -fx-text-fill: #FF8000;
}

.table-row-cell:filled .sellPendingOrder .text{
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: #FF8000;
  -fx-text-fill: #FF8000;
}

.table-cell .sellPendingOrder {
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: #FF8000;
   -fx-text-fill: #FF8000;
}

.table-cell:focused:filled:selected .sellPendingOrder {
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: #FF8000;
  -fx-text-fill: #FF8000;
}

.sellOrder {
    -fx-background-color: rgba(255,0,0,0.3);
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-table-cell-border-color:derive(-fx-base,+50%);
}

.table-view:row-selection .sellOrder:filled:selected {
    -fx-background-color: rgba(107, 0, 7, 0.5);
    -fx-fill: white;
    -fx-text-fill: white;
}

.table-row-cell:focused:filled:selected .sellOrder .text{
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: white;
   -fx-text-fill: white;
}

.table-row-cell:filled .sellOrder .text{
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: white;
  -fx-text-fill: white;
}

.table-cell .sellOrder {
   -fx-background-color: rgba(255,0,0,0.3);
   -fx-fill: white;
   -fx-text-fill: white;
}

.table-cell:focused:filled:selected .sellOrder {
  -fx-background-color: rgba(255,0,0,0.3);
  -fx-fill: white;
  -fx-text-fill: white;
}

.table-row-cell:focused:filled:selected .negativeImbalanceCell .text{
    -fx-fill: red ;
    -fx-text-fill: red;
}

.table-row-cell:filled .negativeImbalanceCell .text{
    -fx-fill: red;
    -fx-text-fill: red;
}

.table-cell .negativeImbalanceCell {
    -fx-fill: red ;
    -fx-text-fill: red;
}

.table-cell:focused:filled:selected .negativeImbalanceCell {
    -fx-fill: red ;
    -fx-text-fill: red;
}

.negativeImbalanceCell {
    -fx-background: #2b2a2a;
    -fx-text-background-color: red ;
    -fx-text-fill: red;
    -fx-fill: red;
}

.table-row-cell:focused:filled:selected .positiveImbalanceCell .text{
    -fx-fill: #04B404 ;
    -fx-text-fill: #04B404;
}

.table-row-cell:filled .positiveImbalanceCell .text{
    -fx-fill: #04B404;
    -fx-text-fill: #04B404;
}

.table-cell .positiveImbalanceCell {
    -fx-fill: #04B404 ;
    -fx-text-fill: #04B404;
}

.table-cell:focused:filled:selected .positiveImbalanceCell {
    -fx-fill: #04B404 ;
    -fx-text-fill: #04B404;
}

.positiveImbalanceCell {
    -fx-background: #2b2a2a;
    -fx-text-background-color: #04B404 ;
    -fx-text-fill: #04B404;
    -fx-fill: #04B404;
}

.titled-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: -fx-text-base-color;
    -fx-border-maxHeight: "-Infinity";
    -fx-border-maxWidth: "-Infinity";
    -fx-tab-min-height: 5px;
    -fx-tab-max-height: 5px;
    -fx-text-fill: #b4aea7;
    -fx-background-color: #1d1d1d;
    -fx-font-weight: bold;
    -fx-base: #1d1d1d;
}

.titled-pane > .title {
    -fx-font-weight: bold;
}


.text-area {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;

}

.text-area .content {
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,50.0%), derive(-fx-base,-40.0%), derive(-fx-base,-50.0%));
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20.0%);
    -fx-background-insets: 0.0, 0.0 1.0 0.0 1.0;
}

.table-cell {
    -fx-alignment: BASELINE_CENTER;
}







